
/*  
  sticky footer
  https://gist.github.com/martinbean/1855032 
*/

html, body {
    height: 100%;
}
footer {
    color: #666;
    background: #eee;
    padding: 17px 0 18px 0;
    border-top: 1px solid #ddd;
}
/*
footer a {
    color: #999;
}
footer a:hover {
    color: #efefef;
}
*/
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -63px;
}
.push {
    height: 63px;
}
